@charset "ISO-8859-1";
body{
	margin:0;
	padding:0;
	position:relative;
	box-sizing:border-box;
}
#main{
	    position: absolute;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1,h3,a,p{
	text-align:center;
	color:white;
}